<div id="<%= dom_id degree_type %>">
  <p>
    <strong>Descripcion:</strong>
    <%= degree_type.descripcion %>
  </p>

  <p>
    <strong>Puntaje:</strong>
    <%= degree_type.puntaje %>
  </p>

  <p>
    <strong>Nivel:</strong>
    <%= degree_type.nivel %>
  </p>

  <p>
    <strong>Bono:</strong>
    <%= degree_type.bono %>
  </p>

  <p>
    <strong>Posgrado:</strong>
    <%= degree_type.posgrado %>
  </p>

</div>
