<%= form_with(model: degree_type) do |form| %>
  <% if degree_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(degree_type.errors.count, "error") %> prohibited this degree_type from being saved:</h2>

      <ul>
        <% degree_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :descripcion, style: "display: block" %>
    <%= form.text_field :descripcion %>
  </div>

  <div>
    <%= form.label :puntaje, style: "display: block" %>
    <%= form.number_field :puntaje %>
  </div>

  <div>
    <%= form.label :nivel, style: "display: block" %>
    <%= form.number_field :nivel %>
  </div>

  <div>
    <%= form.label :bono, style: "display: block" %>
    <%= form.text_field :bono %>
  </div>

  <div>
    <%= form.label :posgrado, style: "display: block" %>
    <%= form.check_box :posgrado %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
