<div id="<%= dom_id research_type %>">
  <p>
    <strong>Nivel:</strong>
    <%= research_type.nivel %>
  </p>

  <p>
    <strong>Puntaje:</strong>
    <%= research_type.puntaje %>
  </p>

  <p>
    <strong>Bono:</strong>
    <%= research_type.bono %>
  </p>

  <p>
    <strong>Semillero:</strong>
    <%= research_type.semillero %>
  </p>

</div>
