<div id="<%= dom_id contracted_teaching_category %>">
  <p>
    <strong>Descripcion:</strong>
    <%= contracted_teaching_category.descripcion %>
  </p>

  <p>
    <strong>Salario:</strong>
    <%= contracted_teaching_category.salario %>
  </p>

  <p>
    <strong>Tiempocompleto:</strong>
    <%= contracted_teaching_category.tiempoCompleto %>
  </p>

  <p>
    <strong>Mediotiempo:</strong>
    <%= contracted_teaching_category.medioTiempo %>
  </p>

</div>
