<div id="<%= dom_id contract %>">
  <p>
    <strong>Horassemanales:</strong>
    <%= contract.horasSemanales %>
  </p>

  <p>
    <strong>Horastrabajadas:</strong>
    <%= contract.horasTrabajadas %>
  </p>

  <p>
    <strong>Horasrestantes:</strong>
    <%= contract.horasRestantes %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= contract.descripcion %>
  </p>

  <p>
    <strong>User:</strong>
    <%= contract.user_id %>
  </p>

</div>
