<p style="color: green"><%= notice %></p>

<%= render @research_group %>

<div>
  <%= link_to "Edit this research group", edit_research_group_path(@research_group) %> |
  <%= link_to "Back to research groups", research_groups_path %>

  <%= button_to "Destroy this research group", @research_group, method: :delete %>
</div>
