<div id="<%= dom_id payroll %>">
  <p>
    <strong>Sueldobase:</strong>
    <%= payroll.sueldoBase %>
  </p>

  <p>
    <strong>Bonificaciontotal:</strong>
    <%= payroll.bonificacionTotal %>
  </p>

  <p>
    <strong>Valorhorastrabajadas:</strong>
    <%= payroll.valorHorasTrabajadas %>
  </p>

  <p>
    <strong>Horastrabajadas:</strong>
    <%= payroll.horasTrabajadas %>
  </p>

  <p>
    <strong>Sueldototal:</strong>
    <%= payroll.sueldoTotal %>
  </p>

  <p>
    <strong>Horasrestante:</strong>
    <%= payroll.horasRestante %>
  </p>

  <p>
    <strong>Horasportrabajar:</strong>
    <%= payroll.horasPorTrabajar %>
  </p>

  <p>
    <strong>Valorhorasrestantes:</strong>
    <%= payroll.valorHorasRestantes %>
  </p>

  <p>
    <strong>User:</strong>
    <%= payroll.user_id %>
  </p>

  <p>
    <strong>Degrretype:</strong>
    <%= payroll.degrretype_id %>
  </p>

  <p>
    <strong>Researchtype:</strong>
    <%= payroll.researchtype_id %>
  </p>

  <p>
    <strong>Fee:</strong>
    <%= payroll.fee_id %>
  </p>

  <p>
    <strong>Contract:</strong>
    <%= payroll.contract_id %>
  </p>

</div>
