<div id="<%= dom_id degree %>">
  <p>
    <strong>Nombre:</strong>
    <%= degree.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= degree.descripcion %>
  </p>

  <p>
    <strong>User:</strong>
    <%= degree.user_id %>
  </p>

  <p>
    <strong>Degreetype:</strong>
    <%= degree.degreetype_id %>
  </p>

</div>
