<p style="color: green"><%= notice %></p>

<%= render @authorization %>

<div>
  <%= link_to "Edit this authorization", edit_authorization_path(@authorization) %> |
  <%= link_to "Back to authorizations", authorizations_path %>

  <%= button_to "Destroy this authorization", @authorization, method: :delete %>
</div>
